*{
    padding: 0;
    margin: 0;
    size: 10px; 
}


h1{
    text-align: center;
    display: flex;
    justify-content: center;
}

table{
    text-align: center;
    padding: 0;
    margin: 0;
}

.my-table td {
    border: solid 1px #000;

}